* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
}

html,
body,
#root {
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

#root>main {
  flex: 1 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
	font-family: "BarlowSemiCondensed-Regular";
	src: local("BarlowSemiCondensed-Regular"),
		url("../public/fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "BarlowSemiCondensed-Medium";
	src: local("BarlowSemiCondensed-Medium"),
		url("../public/fonts/BarlowSemiCondensed-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "BarlowSemiCondensed-Light";
	src: local("BarlowSemiCondensed-Light"),
		url("../public/fonts/BarlowSemiCondensed-Light.ttf") format("truetype");
}

@font-face {
	font-family: "BarlowSemiCondensed-ExtraLight";
	src: local("BarlowSemiCondensed-ExtraLight"),
		url("../public/fonts/BarlowSemiCondensed-ExtraLight.ttf") format("truetype");
}